<h1 mat-dialog-title>{{ data === null ? 'Agregar Cliente' : 'Editar cliente'}}</h1>
<div mat-dialog-content>
  <p>Cuál es el nombre de la persona?</p>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="nombreCliente">
  </mat-form-field>
</div>
<div mat-dialog-actions class="justify-content-center">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)=" data === null ?  addCliente() : editCliente()">Ok</button>
</div>