<h1 mat-dialog-title>Agregar Venta</h1>
<div mat-dialog-content>
    <p>Cuál es el id del cliente?</p>
    <mat-form-field appearance="fill">
        <mat-label>Id Cliente</mat-label>
        <input matInput [(ngModel)]="venta.IdCliente">
    </mat-form-field>
    <form [formGroup]="formVenta" class="mt-2">
        <div class="row">
            <div class="col-auto">
                <mat-form-field appearance="fill">
                    <mat-label>Producto</mat-label>
                    <input matInput formControlName="IdProducto">
                </mat-form-field>
            </div>
            <div class="col-auto">
                <mat-form-field appearance="fill">
                    <mat-label>Cantidad</mat-label>
                    <input matInput formControlName="Cantidad">
                </mat-form-field>

            </div>
            <div class="col-auto">
                <mat-form-field appearance="fill">
                    <mat-label>Importe</mat-label>
                    <input matInput formControlName="Importe">
                </mat-form-field>

            </div>
        </div>
    </form>

    <div class="container">
        <h5>Conceptos</h5> 
        <button mat-raised-button (click)="agregarConceptos()"> + </button>
        <table style="width : 100%">
            <tr>
                <th>Cantidad</th>
                <th>Importe</th>
            </tr>
            <tr *ngFor="let item of conceptos">
                <td>{{item.Cantidad}}</td>
                <td>{{item.Importe}}</td>
            </tr>
        </table>
    </div>
</div>
<div mat-dialog-actions class="row justify-content-center">
    <div class="row justify-content-center">
        <div class="col-4 p-auto">
            <button class="mx-auto p-auto" mat-button (click)="close()">Cancelar</button>
        </div>
        <div class="col-4">
            <button class="mx-auto p-auto" mat-button cdkFocusInitial (click)="agregarVenta()">Ok</button>
        </div>
    </div>
</div>