<h1 mat-dialog-title>Eliminar Cliente</h1>
<div mat-dialog-content>
  <p>¿Estás seguro que quieres eliminar?</p>
  
</div>
<div mat-dialog-actions class="justify-content-center">
  <button mat-button cdkFocusInitial [mat-dialog-close]="false">Cancelar</button>
  <button mat-button  [mat-dialog-close]="true">Ok</button>
</div>