<mat-card>
    <mat-card-header>
        <mat-card-title>Inicio de sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="credenciales">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error></mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password">
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <div class="row justify-content-center">
            <button mat-button [disabled]="!credenciales.valid" (click)="login()">Login</button>
        </div>
    </mat-card-actions>
</mat-card>