<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Menú</span>
  </mat-toolbar>
  <mat-sidenav-container class="side-menu" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="side-menu"  #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56">
  
        <mat-nav-list *ngIf="menu.length > 0">
          <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of menu">
            <mat-icon>{{ nav.icon }}</mat-icon> {{ nav.name }}</a
          >
          <a mat-list-item *ngIf="usuario">
            <mat-icon>clear</mat-icon> Cerrar Sesión</a
          >
        </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  
  </mat-sidenav-container>
</div>