<form action="" [formGroup] = "formChat">
    <input type="text" formControlName="Name" id="">
    <input type="text" formControlName="Text" id="">
    <button type="submit" (click) ="addMensaje()">Agregar mensaje</button>
</form>


<app-message *ngFor="let item of list" [oMessage]="item"></app-message>